---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Sebastián Gallego - Portafolio">
  <main>
    <h1 class="text-center text-white text-2xl mt-4">
      Sebastián Gallego - Portafolio
    </h1>
  </main>
</Layout>
